<html>
  <body>
   <%#*<p>Hello World!</p>%> 
     <%#*<a href="../next/new_view.erb">Next page</a>%> 
    Edit Form
<%= render partial: 'form' %>
       <%= link_to "All book", books_path %>
  </body>
</html>
